<!-- if we're on a guide! -->
{% if page.doneness != nil %}
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="https://cdn.rawgit.com/blairanderson/react-timer/caa8c5b572036fe5d723f191f02802a70ea4a757/public/styles.css">
  <script src="https://cdn.rawgit.com/blairanderson/react-timer/6bacf1c3ce93e933bfcc34639714f58bce5540eb/dist/bundle.js" charset="utf-8"></script>

    <script>
      configTimer({
        el: "timer-container",
        timer: {
          name: "{{page.title}} timer",
          hours: {{page.best}},
          started: false
        }
      })
    </script>
{% endif %}
