<!-- if we're on a guide! -->
{% if page.doneness != nil %}
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
  <script src="https://cdn.rawgit.com/mozilla/localForage/bea565aeafdf8ff2b1a5ffb4c424185cba9f261b/site/localforage.min.js" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/public/javascripts/time.js" charset="utf-8"></script>
  <script src="{{ site.baseurl }}/public/javascripts/timer.js" charset="utf-8"></script>
  <script type="text/javascript">
    Egg.defaultText = "Sous Vide Timer";
    Egg.endTime = 3600000*{{page.best}};
    Egg.parseError = "none";
    Egg.volume = 1;
    Egg.canAlert = true;
   </script>
{% endif %}
